.hdr {
    text-align: center;
    font-family: UMoe;
    font-size: 40px;
    background: #f5ba13;
    color: #fefefe;
    text-decoration: underline;
    text-shadow: 0 0 3px #000000, 0 0 10px #f5ba13;
    width: 480px;
    margin: 30px auto 20px auto;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px #8a8989;
}

.signup-form{
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 25px 15px 15px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px #8a8989;
}

.signup-form input{
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    resize: none;
    font-family: UMoe;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #000000;
}

.signup-btn {
    display: block;
    width: 100%;
    background: #f5ba13;
    border: none;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 5px #8a8989;
    font-size: 1.2em;
    font-family: UMoe;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup-btn:hover {
    color: #fff;
    box-shadow: 0 3px 6px #8a8989;
}

.input-con {
    height: 80px;
}

.input-con span {
    color: red;
    font-size: 10px;
}