<!DOCTYPE html>
<html>

<head>
    <style>
        .reset-btn {
            background-color: #c0b327;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <h3>Press the button to reset password.</span><br /><br />
        <a href={{.Url}}><button class="reset-btn"> Reset password </button></a>
</body>

</html>