.create-user-area-component {
  margin-top: 130px;
}

.create-user-area-form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px #8a8989;
}

.create-user-area-form input {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    resize: none;
    font-family: UMoe;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}

.create-user-btn {
  display: block;
  width: 100%;
  background: #f5ba13;
  border: none;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 5px #8a8989;
  font-size: 1.2em;
  font-family: UMoe;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-user-btn:hover {
  color: #fff;
  box-shadow: 0 3px 6px #8a8989;
}